:root {
  --primary-color: #007bff;
  --secondary-color: #ffe7e5;
  --background-color: rgb(255, 249, 249);
  --text-color: #343a40;
}

body {
  margin: 0;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--background-color);
  color: black;
}

nav {
  height: 61.5px;
}

section {
  min-height: calc(100vh - 61.5px);
}

div {
  min-height: fit-content !important;
}

img {
  max-height: 100%;
}

.navbar {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  border-bottom-style: groove;
  border-color: darkslategrey;
  background-color: black;
  display: flex;
  justify-content: center;

}

.navbar li {
  float: left;
  margin-right: 10px;
}

.navbar li a {
  display: block;
  color: var(--secondary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: larger;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar-logo {
  width: 50px;
  padding-top: 5px;
  position: fixed;
  left: 40px;
  z-index: 1000;
  border-radius: 50%;
}

.banner-wrapper {
  margin-top: 1px;
}

.banner-image {
  background-image: url(images/dark-background.jpg);
  background-size: cover;
  background-position: bottom;
  text-align: center;
  color: white;
  z-index: 999;
  height: calc(100vh - 61.5px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.banner-text {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15vh
}

.banner-title {
  font-size: 4.5em;
  width: 50%;
  margin-top: 10%;
  padding-left: 8%;
  text-align: left;
}

.banner-sub {
  font-size: 1.5em;
  width: 75%;
}

.my-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 61.5px);
  background-color: black;
}

.skills-title {
  color: white;
  font-size: 3em;
}

.skills-container {
  max-width: 1536px;
  grid-row-gap: 3.26em;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  display: grid;
}

.skills-box {
  height: 69%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
  background-color: grey;
  border-color: grey;
  justify-content: space-between;
}

.skills-box-image-1 {
  background-image: url(images/bandup1.png);
  width: 50vh;
  height: 30vh;
}
